@font-face {
    font-family: "squarefont";
    src: url("{{asset('fonts/Square.ttf')}}");
}
@font-face {
    font-family: "Bahnschrift";
    src: url("{{asset('fonts/BAHNSCHRIFT.TTF')}}");
}
@font-face {
    font-family: "Poppkorn";
    src: url("{{asset('fonts/PoppkornRegular-MzKY.ttf')}}");
}