@font-face {
    font-family: "squarefont";
    src: url("../fonts/Square.ttf");
}
@font-face {
    font-family: "Bahnschrift";
    src: url('../fonts/BAHNSCHRIFT.TTF');
}
@font-face {
    font-family: "Poppkorn";
    src: url('../fonts/PoppkornRegular-MzKY.ttf');
}