@font-face {
    font-family: "squarefont";
    src: url("{{asset(fonts/Square.ttf')}}");
}
@font-face {
    font-family: "Bahnschrift";
    src: url("{{asset(fonts/BAHNSCHRIFT.TTF')}}");
}
@font-face {
    font-family: "Poppkorn";
    src: url("{{asset(fonts/PoppkornRegular-MzKY.ttf')}}");
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); */

* {
    margin: 0;
    padding: 0; 
}
html, body {
    width: 100%;
    height: 100%; 
}
a:hover{
    text-decoration: none;
    color: #FF5B14;
}
.loading{
    background-color: white;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}
/* spinner */
.spinner {
    margin: 100px auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-right: 1px;
    margin-left: 1px;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
      background-color: #FF5B14;
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* spinner */
/* projects */
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
/* projects */
.canvasrainbox {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0,0,0,0); 
    z-index: -1;
}
.vantadiv{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -5;
    /* display: none; */
    /* transform: rotate(180deg); */
}
#container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2; 
}
.divtitle{
    margin-bottom: 20px;
}
h1 {
    font-family: 'Squarefont';
    font-style: normal;
    font-weight: normal;
    font-size: 154px;
    line-height: 177px;
    background-clip: text;
    background: -webkit-linear-gradient(#FBA30D, #FF5B14);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: 1;
}
.shadowertitle{
    font-family: 'Squarefont';
    font-style: normal;
    font-weight: normal;
    font-size: 154px;
    line-height: 177px;
    color: transparent;
    text-shadow: 0px 0px 22px rgba(0, 0, 0, 0.33);
    position: relative;
    top: 4px;
}
.supertitle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}
.subtitle{
    position: relative;
    top:-35px;
    font-family: 'Bahnschrift',sans-serif;
    color: gray;
}
.balancer{
    background-color:rgba(0,0,0,0);
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    position: relative;
    top:-20px;
    color: rgba(0,0,0,0);
    font-family: 'Bahnschrift', sans-serif;
    margin-left: 20px;
    display: unset;
}
.buttonnewgame{
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    position: relative;
    top:-40px;
    color: rgba(0,0,0,0);
    font-family: 'Bahnschrift', sans-serif;
    margin-left: 20px;
    transition: 2s;
    z-index: 10;
}
.subs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruction{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructp{
    color: gray;
    font-family: 'Bahnschrift',sans-serif;
    font-weight: 500;
    font-size: 12pt;
}
.scoring{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 5;
}
.scorp{
    color: black;
    font-family: 'Bahnschrift',sans-serif;
    font-weight: 500;
    font-size: 16pt;
    margin-right: 5px;
    stroke: white 1px;
}
.scorlive{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
}
.scorplive{
    color: black;
    font-family: 'Bahnschrift',sans-serif;
    font-weight: 500;
    font-size: 18pt;
    margin-left: 10px;
}
.foodplive{
    color: orangered;
    font-family: 'Bahnschrift',sans-serif;
    font-weight: 500;
    font-size: 18pt;
}
.endfoodplive{
    color: orangered;
    font-family: 'Bahnschrift',sans-serif;
    font-weight: 500;
    font-size: 16pt;
    margin-left: 5px;
}
.chatbox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatboximg{
    position: absolute;
}
.textchat{
    position: relative;
    font-family: 'Bahnschrift',sans-serif;
    justify-self: center;
    font-size: 14pt;
}
.ohnobox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ohnoboximg{
    position: absolute;
}
.textnochat{
    position: relative;
    font-family: 'Bahnschrift',sans-serif;
    justify-self: center;
    font-size: 18pt;
}
.buttonnewgame:focus,.buttonnewgame:active {
    outline: none !important;
    box-shadow: 0 0 4px 1px orange;
}



.navbotmain{
    width: 100%;
    height: 60px;
    display: none;
    position: fixed;
    background-color: black;
    top: 0;
    z-index: 20;
}
.navbotarea{
    width: 100%;
    height: 60px;
    background-color: red;
}
.navbot{
    background-color: black;
    position: sticky;
    height: 60px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    /* z-index: 100; */
}
.dropdown{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    padding: 0 16pt;
    width: 230px;
    overflow: hidden;
    background-color: #3A3A3A;
}
.dropdown:hover{
    background-color: #FF5B14;
}
.h2navigation{
    font-family: 'Bahnschrift', sans-serif;
    color: white;
    margin:4px 0 0 0;
    font-weight: 400;
    font-size: 20pt;
    transition: 1s;
}
.burger{
    width: 28px;
    height: 4px;

    background: #FFFFFF;
    border-radius: 17px;
    margin: 6px 12px 6px 0;
}
.linktoscroll{
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 10px;

    color: #FFFFFF;
}
.rainboxgame{
    position: relative;
    overflow: hidden;
}

.sideclear{
    padding: 0 200px;
}

.in-body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    z-index: 21;
}
.jumbo{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 8;

    background-color: black;
    overflow-x: hidden;
    /* padding-bottom: 80px; */
}
.profpict{
    width: 224px;
    height: 224px;
}
.h4good{
    font-family: 'Bahnschrift', sans-serif !important;
    color: white;
    margin:4px 0 0 0;
    font-weight: 400;
    font-size: 34pt;
}
.pintro{
    color: white;
    width: 450px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 22px;
    margin:14px 0 0 4px;
    font-weight: 200;
}
.weight400{
    font-weight: 600 !important;
}
.orangebox{
    position: relative;
    top: -66px;
    left: 120px ;
    width: 146px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #FF5B14;
}
.nospace{
    position: relative;
    width: 0px;
    height: 0px;
}
.nickname{
    font-family: 'Bahnschrift', sans-serif;
    color: white;
    margin:4px 0 0 0;
    font-weight: 400;
    font-size: 22pt;
}



/* .gradientmove{
    position: relative;
} */
.noheight{
    position: relative;
    height: 0px;
    width: 100%;
}
.divsepar{
    flex-direction: column;
}
.separator{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: 1px;
    position: relative;
    top: -62px;
    z-index: -7;
}
.blackout{
    position: relative;
    width: 100%;
    transition: 1s;
    z-index: -1;
    background-color: black;
}
.gray{
    position: relative;
    width: 100%;
    transition: 1s;
}
.bc55{
    z-index: -2;
    background-color: #555555;
}
.bc99{
    z-index: -3;
    background-color: #999999;
}
.bcC7{
    z-index: -4;
    background-color: #C7C7C7;
}
.bcEB{
    z-index: -5;
    background-color: #EBEBEB;
}

.h4abilities{
    font-family: 'Bahnschrift', sans-serif;
    color: rgba(0,0,0,0);
    margin:4px 0 0 0;
    font-weight: 400;
    font-size: 20pt;
    z-index: -5;
}
.putmiddle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -16px;
}

.abilities{
    height:800px;
    width:100%;
    padding-top: 200px;
}
.jslogo{
    width: 120px;
    height: 120px;
}
.middlepart{
    display: flex;
    justify-content: start;
    text-align: left;
    margin-bottom: 60px;
}
.fontblack{
    color: black !important;
}
.pnutshell{
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;


    color: #999999;
}
.pjsfull{
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;


    color: #999999;
}
.jsfull{
    line-height: 28px;
    position: relative;
    top:40px;
    margin-left: 14px;
}
.cardright{
    margin-right: 64px;
}
.para{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2F2F2F;
}


.canvaspacman{
    position: relative;
    top: -80px;
    height: 80px;
    width: 100%;
}




.card {
    position: relative;
    perspective: 500px;
    z-index: 20;

    width: 100%;
    height: 387px;
    border: none;
    
    background: rgba(0,0,0,0);
    /* box-shadow: 0px 0px 68px rgba(0, 0, 0, 0.25); */
    /* border-radius: 31px; */
  }
  
.contentcard {
position: absolute;
width: 100%;
height: 100%;
box-shadow:  0px 0px 68px rgba(0, 0, 0, 0.25); 

transition: transform 1s;
transform-style: preserve-3d;
}

.card:hover .contentcard {
transform: rotateX( 180deg ) ;
transition: transform 0.5s;
}

.front,
.back {
position: absolute;
height: 100%;
width: 100%;
background: white;
line-height: 300px;
color: #03446A;
text-align: center;
font-size: 60px;
border-radius: 5px;
backface-visibility: hidden;
}

.front{
display: flex;
justify-content: center;
align-items: center;
}

.back {
    /* padding: 60px 200px 60px 60px; */
padding: 50px;
text-align: left;
background: white;
transform: rotateX( 180deg );
display: flex;
justify-content: start;
align-items: center;
}

.iconic{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 36px;
}
.subgroup{
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.techname{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    margin-top: 10px;
    
    color: #8F8F8F;
}
.withname{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.centerflex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.other{
    align-self: start;
    margin-top: 20px;
}
.subother{
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 0 16px;
}
.othereach{
    border: 1px solid #7E7E7E;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: max-content;
    padding: 2px 8px;
    margin: 5px 5px;
    
    color: #7E7E7E;
}
.noborder{
    border:none !important;
    padding-left: 2px;
    padding-top: 4px;
    font-size: 12px;
}
.stack{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.stackname{
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 69px;
    transform: rotateZ(270deg);
    
    color: #777777;
}
.mernup{
    position: relative;
    left: 23px;
    top: -8px;
    color: #FF5B14;
}
.laravueup{
    position: relative;
    left: 24px;
    top: 20px;
}
.letmetell{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-right: 16px;
    height: 100%;
    width: 100%;
    height: 232px;
}
.pletmetell{
        
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    /* or 213% */


    color: #000000;

}
.makeorange{
    color: #FF5B14 !important;
}
.storyskill{
    padding-right: 32px;
}
.tellmediv{
    display: flex;
    justify-content: start;
    align-items: center;
}
.imgplane{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-right: 16px; 
}
.imgtellme{
    transition: 1s;
    filter: opacity();
}
.ptellmewhat{
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin: 0;

    color: #8A8A8A;
}
.flexbetween2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.heytry{
    font-family: sans-serif;
    color: gray;
    display: none;
    z-index: -1;
    transition: 1s;
    transform: translateX(-400px);
}
.imgp {
    width:100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.33);
  }
  .header {
      text-align: center;
      padding: 32px;
  }
  
  .rowp {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      max-width:1000px;
      margin: 0 200px;
  }
  
  /* Create four equal columns that sits next to each other */
  .columnp {
      flex: 25%;
      max-width: 25%;
      padding: 0 4px;
  }
  
  .columnp img {
      margin-top: 8px;
      vertical-align: middle;
  }
  
  /* Responsive layout - makes a two columnp-layout instead of four columnps */
  @media (max-width: 800px) {
      .columnp {
          flex: 50%;
          max-width: 50%;
      }
  }
  
  /* Responsive layout - makes the two columnps stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
      .columnp {
          flex: 100%;
          max-width: 100%;
      }
  }